* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@300&family=Fraunces:wght@100&family=Manrope&display=swap");

/* 
      font-family: 'Manrope', sans-serif; */

:root {
  /* colors */
  --orange: #d87d4a;
  --black: #101010;
  --black-2: #000000;
  --light-orange: #fbaf85;
  --white: #ffffff;
  --light-gray: rgb(124, 124, 124);
  --light-white-2: #fafafa;
}

body {
  font-family: "Manrope", sans-serif;
  height: auto;
}

.navigation {
  width: 100%;
  height: 96px;
  display: grid;
  grid-template-columns: 270px 586px 250px;
  align-items: center;
  background-color: black;
  justify-content: center;
}



.nav-bar ul {
  display: flex;
  justify-content: center;
  color: var(--white);
}

.nav-bar ul li {
  list-style-type: none;
  margin: 10px;
  font-family: "Manrope", sans-serif;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.nav-bar ul li a {
  text-decoration: none;
  color: var(--white);
}

.nav-bar ul li a:hover {
  color: var(--orange);
}

.cart img {
  margin-left: 225px;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-details {
  display: flex;
  margin-top: 9rem;
  width: 1000px;
  margin-bottom: 5rem;
}

.headphones-div {
  display: flex;
  margin-bottom: 6rem;
}

.headphone1 {
  width: 500px;
  height: 450px;
  object-fit: cover;
}

.headphone1-description {
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3rem;
  margin-left: 3rem;
}

.title {
  margin-bottom: 2rem;
  color: var(--orange);
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 11px;
}

.product-name {
  margin-bottom: 2rem;
  font-size: 50px;
  font-weight: lighter;
}

.main-description {
  margin-bottom: 2rem;
  font-size: 15px;
  max-width: 22rem;
  line-height: 1.5rem;
  color: var(--light-gray);
}

.price {
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.plus-minus-wrapper {
  display: flex;
  align-items: center;

  width: 500px;
}

.btn {
  margin-top: 1rem;
  width: 10rem;
  height: 3rem;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 0.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:hover {
  background-color: #d87e4ada;
  transition: 0.5s;
}

.wrapper {
  margin-top: 1rem;
  margin-right: 2rem;
  width: 8rem;
  height: 3rem;
  background-color: rgba(241, 241, 241, 0.678);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.wrapper span {
  width: 100%;
  text-align: center;
}

.minus,
.plus {
  color: var(--light-gray);
  cursor: pointer;
}

.product-relevant-desctirpion {
  height: 318px;
  width: 1000px;
  margin-top: 10rem;
  display: flex;
}

.product-features {
  width: 70%;
  height: 318px;
}

.noramal-h1 {
  margin: 2rem 0;
  font-weight: lighter;
}

.features-p {
  line-height: 1.5rem;
  max-width: 90%;
  color: var(--light-gray);
  margin-top: 3rem;
}

.in-the-box {
  width: 30%;
  height: 318px;
}

.ul-features {
  line-height: 2rem;
}

.ul-features li {
  list-style-type: none;
  color: var(--light-gray);
}

.features-span {
  color: var(--orange);
  font-weight: bold;
  margin-right: 2rem;
}

.grid-images {
  display: grid;
  grid-template-columns: 400px 600px;
  grid-template-rows: 250px 250px;
  grid-gap: 1rem;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.grid-image1 {
  width: 100%;
  height: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 5px;
}

.grid-image2 {
  width: 100%;
  height: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 5px;
}

.grid-image3 {
  width: 100%;
  height: auto;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 5px;
}

.also-like-container {
  width: 1000px;
  height: 571px;
  display: flex;
  grid-gap: 1.5rem;
  margin-top: 1.5rem;
}

.also-like {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 460px;
}

.also-image {
  width: 300px;
  height: 350px;
}

.categories {
  height: 284px;
  display: flex;
  margin-top: 5rem;
  place-content: center;
  margin-bottom: 10rem;
}

.cat-img {
  width: 250px;
  height: 230px;
}

.arrow-img {
  width: 10px;
  height: 10px;
}

.category {
  font-family: "Manrope", sans-serif;
  height: 340px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cat-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  font-weight: lighter;
}

.cat-shop {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  color: var(--light-gray);
  letter-spacing: 1px;
  cursor: pointer;
}

.cat-shop:hover {
  color: var(--orange);
}



/* footer */

.grid4 {
  display: flex;
  margin-top: 9rem;
;}


.img-best {
  width: 540px;
  height: 588px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.title2 {
  font-size: 40px;
  width: 400px;
  line-height: 3rem;
  text-transform: uppercase;
  font-weight: lighter;
}

.desctiprion2 {
  width: 500px;
  height: 588px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  grid-gap: 5rem;
}

.long-description {
  line-height: 1.7rem;
  width: 400px;
  color: var(--light-gray);
  font-family: "Manrope", sans-serif;
}

.extra-clr {
  color: var(--orange);
}

.footer {
  height: 365px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.nav-footer {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  color: white;
  align-items: center;
}

.footer-ul {
  display: flex;
}
.footer-ul li {
  list-style-type: none;
  margin: 10px;
  font-family: "Manrope", sans-serif;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.footer-ul li:hover {
  color: var(--orange);
}

.logo2 {
  width: 143px;
  height: 25px;
}

.big-description {
  width: 600px;
  color: var(--light-gray);
  font-family: "Manrope", sans-serif;
  line-height: 1.5rem;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-top: 55px;
  margin-left: 0.5rem;
  cursor: pointer;
}

.social-icons {
  top: 0;
}

.social-media {
  height: 150px;
  width: 1110px;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.copyrights-div {
  width: 1110px;
  color: var(--light-gray);
  font-weight: bold;
  margin-top: 5rem;
}

/* main-cart */



.main-cart{
    height: auto;
    width: 400px;
    background-color: black;
    position: absolute;
    bottom: 150px;
    left:700px

}






